<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
  {{!-- <a id="taskOne" href="http://google.com">google</a>
  <a id="taskTwo" href="https://www.rambler.ru">rambler</a>
  <a id="taskThre" href="https://yandex.ua">yandex</a>
  <button id="taskFour">кнопка</button>
  <button id="taskFive">button</button> --}}
</body>
</html>
