<div id="loading-block">Загрузка...</div>
<div id="loading-failed" class="hidden">
  <div>Не удалось загрузить города</div>
  <button id="retry-button">Повторить</button>
</div>
<div id="filter-block" class="hidden">
  <input type="text" placeholder="название города" id="filter-input">

  <div id="filter-result"></div>
</div>
